<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problem - {{ problem.title }}</title>
</head>
<body>
<h1>{{ problem.problem_id }} - {{ problem.title | title}}</h1>
<h2>Samples</h2>
{% for sample in problem.get_samples %}
    <p>
        <span>Sample-{{ forloop.counter0 }}</span>
        <textarea>{{ sample.input }}</textarea>
        <textarea>{{ sample.output }}</textarea>
    </p>
{% endfor %}

<h2>Tags</h2>
{% for tag in problem.get_tags %}
    <span>{{ tag.name }}</span>
{% endfor %}
</body>
</html>